* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    font-weight: 100;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    top: auto;
    margin: 2em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    text-align: left;
    margin: 0;
}

.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}

.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
        color: gray;
    }
}

.charts {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 50px 0;
}

.pure-form {
    color: gray;
    text-align: left;
}

input:in-range {
    border: 1px solid blue;
}

option[value=""][disabled] {
  display: none;
}

.pure-button{
    color: gray;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto 
}

.values {
    color: #777;  
    display: flex;
    flex-direction: row;
}


.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cols {
    width: 50%;
    flex-direction: column;
}

.results {
    border-radius: 7px;
    border-color: #999;
    resize : none;
    overflow : auto;
    margin: 10px;
}

.ch1 {
    display: block;
    flex: 1;
}

.ch2 {
    display: block;
    flex: 1;
    margin: 20px;
}

/*
red: 'rgb(255, 99, 132)',
orange: 'rgb(255, 159, 64)',
yellow: 'rgb(255, 205, 86)',
green: 'rgb(75, 192, 192)',
blue: 'rgb(54, 162, 235)',
purple: 'rgb(153, 102, 255)',
grey: 'rgb(201, 203, 207)'
*/
